body {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0; 
    overflow-x: hidden; 
    background-color: #d6d6d6; 
}

.cabecalho_container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #454545; 
    padding: 10px; 
    width: 100%; 
    box-sizing: border-box; 
}

.cabecalho {
    color: white; 
    font-size: 25px; 
    font-weight: bold; 
}

.menu_container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #a6a6a6; 
    height: 90px; 
    box-sizing: border-box; 
}

.menu {
    display: flex; 
    justify-content: center; 
    width: 100%; 
}

.menu a {
    color: white; 
    font-size: 18px; 
    text-decoration: none; 
    padding: 15px 30px; 
}
.menu_botao_borda{
    background-color:  #627082;
    border-right: white 1px solid;
 }
 .menu_botao{
     background-color: #627082;
 }


.menu a:hover {
    background-color: rgba(255, 255, 255, 0.144);
}

.banner_container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 250px; 
    width: 100%; 
    overflow: hidden; 
    margin: 0; 
}

.banner {
    max-width: 100%; 
    height: auto; 
}

.imagem_container {
    display: flex; /* Certifique-se de que o container é flexível */
    justify-content: space-around; /* Distribui os itens com espaço igual entre eles */
    margin: 20px 0; /* Adiciona um espaçamento superior e inferior */
}

.imagem_subcontainer img {
    max-width: 100%; /* A largura máxima das imagens, ajustável conforme necessário */
    height: 100%; /* Mantém a proporção das imagens */
}


.imagem_subcontainer{
    border: black 1px solid;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    overflow: hidden;
}